@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "Project details";
}

<h2>Project details</h2>
<form>
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input type="text" class="form-control" asp-for="Id" value="@Model.Id" readonly>
        <label asp-for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description" value="@Model.Description" readonly>
    </div>
</form>
@if (Model.Sessions.Length > 0)
{
    <table class="table">
        <caption>List of sessions (max 10)</caption>
        <thead>
            <tr class="m-0">
                <th scope="col">Client Date</th>
                <th scope="col">App version</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in Model.Sessions)
            {
                <tr class="m-0">
                    <th scope="row">
                        <a asp-area="" asp-controller="Home" asp-action="SessionDetails" asp-route-id="@session.Session.Id">
                            @session.Session.ClientDateTime
                        </a>
                    </th>
                    <td>@session.Session.AppVersion</td>
                    <td>@session.Session.UserName</td>
                    <td>@session.StepCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No sessions yet.</div>
}
