@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "Project details";
}

<h2>Project details</h2>
<form>
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input type="text" class="form-control" asp-for="Id" value="@Model.Id" readonly>
        <label asp-for="Description">Description</label>
        <input type="text" class="form-control" asp-for="Description" value="@Model.Description" readonly>
    </div>
</form>
<h3>Upload tokens</h3>
@if (Model.WriteTokens.Length > 0)
{
    foreach (var token in Model.WriteTokens)
    {
        <div>@token.Id</div>
    }
}
else
{
    <div>No tokens.</div>
}
    <form asp-action="CreateWriteToken" method="post">
        @Html.Hidden(nameof(CreateTokenViewModel.ProjectId), Model.Id)
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
<h3>Download tokens</h3>
@if (Model.ReadTokens.Length > 0)
{
    foreach (var token in Model.ReadTokens)
    {
        <div>@token.Id</div>
    }
}
else
{
    <div>No tokens.</div>
}
<form asp-action="CreateReadToken" method="post">
    @Html.Hidden(nameof(CreateTokenViewModel.ProjectId), Model.Id)
    <button type="submit" class="btn btn-primary">Create</button>
</form>
@if (Model.Sessions.Length > 0)
{
    <table class="table">
        <caption>List of sessions (max 10)</caption>
        <thead>
            <tr class="m-0">
                <th scope="col">Client Date</th>
                <th scope="col">App version</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in Model.Sessions)
            {
                <tr class="m-0">
                    <th scope="row">
                        <a asp-area="" asp-controller="Home" asp-action="SessionDetails" asp-route-id="@session.Session.Id">
                            @session.Session.ClientDateTime
                        </a>
                    </th>
                    <td>@session.Session.AppVersion</td>
                    <td>@session.Session.UserName</td>
                    <td>@session.StepCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No sessions yet.</div>
}
